<div class="block-controls">
	<span class="up" title="move up" {{action "moveUp" block}}>▲</span>
	<span class="down" title="move down" {{action "moveDown" block}}>▼</span>
	<span class="create" title="add new below" {{action "addNew" block}}>+</span>
	<span class="remove" title="remove" {{action "remove" block}}>x</span>
</div>
{{yield}}
