<span class="title">Spell List</span>
{{#each spellGroups as |group|}}
	<div class="spell-group">
		{{content-editable classNames="title" value=group.title tagName="span"}}
		<div class="spell-group-controls">
			<span class="round-button display-group" title="toggle spells" {{action "toggleGroup" group}}>
				<i class="fa {{if group.open 'fa-eye' 'fa-eye-slash'}}"></i>
			</span>
			<span class="round-button sort" title="sort spells" {{action "sortSpells" group}}>
				<i class="fa fa-sort-alpha-asc"></i>
			</span>
			<span class="round-button up" title="move up" {{action "groupUp" group}}>
				<i class="fa fa-sort-up"></i>
			</span>
			<span class="round-button down" title="move down" {{action "groupDown" group}}>
				<i class="fa fa-sort-down"></i>
			</span>
			<span class="round-button add-spell" {{action "addSpell" group}} title="add spell">
				<i class="fa fa-plus"></i>
			</span>
			<span class="round-button remove" title="remove group" {{action "groupRemove" group}}>
				<i class="fa fa-times"></i>
			</span>
		</div>
		{{#if group.open}}
			<div class="spell-wrap">
				{{#each group.spells as |spell|}}
					<div class="spell-box">
						<div class="spell">
							{{content-editable classNames="title" value=spell.name tagName="span"}}
							<div class="spell-controls">
								<span class="round-button up" title="move up" {{action "spellUp" group spell}}>
									<i class="fa fa-sort-up"></i>
								</span>
								<span class="round-button down" title="move down" {{action "spellDown" group spell}}>
									<i class="fa fa-sort-down"></i>
								</span>
								<span class="round-button remove" title="remove spell" {{action "spellRemove" group spell}}>
									<i class="fa fa-times"></i>
								</span>
							</div>
							{{#if showDetails}}
								<div class="spell-level">
									<span class="label">level</span>
									{{content-editable value=spell.level}}
								</div>
								<div class="origin">
									<span class="label">origin</span>
									{{content-editable value=spell.origin}}
								</div>
								<div class="school">
									<span class="label">school</span>
									{{content-editable value=spell.school}}				
								</div>
								<div class="action">
									<span class="label">action</span>
									{{content-editable value=spell.action}}				
								</div>
								<div class="range">
									<span class="label">range</span>
									{{content-editable value=spell.range}}				
								</div>
								<div class="duration">
									<span class="label">duration</span>
									{{content-editable value=spell.duration}}
								</div>
								<div class="components">
									<span class="label">components</span>
									{{content-editable value=spell.components}}				
								</div>
								{{free-block title="description" content=spell.description classNames="descr"}}
							{{/if}}
						</div>
					</div>
				{{/each}}
			</div>
		{{else}}
			<div class="round-button group-size">
				{{group.spells.length}}
			</div>
		{{/if}}
	</div>
{{/each}}
<div class="round-button add-spell-group" {{action "createSpellGroup"}} title="add group">
	<i class="fa fa-plus"></i>
</div>
<div class="round-button toggle-spell-detail" {{action "toggleSpellDetail"}} title="toggle spell detail">
	<i class="fa {{if showDetails 'fa-eye' 'fa-eye-slash'}}"></i>
</div>

{{#if showModal}}
	{{#modal-dialog}}
		{{select-spell char=char closeDialog="closeDialog" newSpell="createSpell" selectSpell="selectSpell"}}
	{{/modal-dialog}}
{{/if}}
