<span class="title">Spell List</span>
{{#each group in spellGroups}}
	<div class="spell-group">
		{{content-editable classNames="title" value=group.title tagName="span"}}
		<div class="spell-group-controls">
			<span class="sort" title="sort spells" {{action "sortSpells" group}}>
				<i class="fa fa-sort-alpha-asc"></i>
			</span>
			<span class="up" title="move up" {{action "groupUp" group}}>▲</span>
			<span class="down" title="move down" {{action "groupDown" group}}>▼</span>
			<span class="add-spell" {{action "addSpell" group}} title="add spell">+</span>
			<span class="remove" title="remove group" {{action "groupRemove" group}}>x</span>
		</div>
		<div class="spell-wrap">
			{{#each spell in group.spells}}
				<div class="spell-box">
					<div class="spell">
						{{content-editable classNames="title" value=spell.name tagName="span"}}
						<div class="spell-controls">
							<span class="up" title="move up" {{action "spellUp" group spell}}>▲</span>
							<span class="down" title="move down" {{action "spellDown" group spell}}>▼</span>
							<span class="remove" title="remove spell" {{action "spellRemove" group spell}}>x</span>
						</div>
						<div class="spell-level">
							<span class="label">level</span>
							{{content-editable value=spell.level}}
						</div>
						<div class="origin">
							<span class="label">origin</span>
							{{content-editable value=spell.origin}}
						</div>
						<div class="school">
							<span class="label">school</span>
							{{content-editable value=spell.school}}				
						</div>
						<div class="action">
							<span class="label">action</span>
							{{content-editable value=spell.action}}				
						</div>
						<div class="range">
							<span class="label">range</span>
							{{content-editable value=spell.range}}				
						</div>
						<div class="duration">
							<span class="label">duration</span>
							{{content-editable value=spell.duration}}
						</div>
						<div class="components">
							<span class="label">components</span>
							{{content-editable value=spell.components}}				
						</div>
						{{free-block title="description" content=spell.description classNames="descr"}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
{{/each}}
<div class="add-spell-group" {{action "createSpellGroup"}} title="add group">
+
</div>

{{#if showModal}}
	{{#modal-dialog}}
		{{select-spell char=char closeDialog="closeDialog" newSpell="createSpell" selectSpell="selectSpell"}}
	{{/modal-dialog}}
{{/if}}
