<span class="title">Spell List</span>
{{#each group in spellGroups}}
	<div class="spell-group">
		{{content-editable classNames="title" value=group.title tagName="span"}}
		<div class="spell-group-controls">
			<span class="up" {{action "groupUp" group}}>^</span>
			<span class="down" {{action "groupDown" group}}>v</span>
		</div>

		{{#each spell in group.spells}}
			<div class="spell">
				{{content-editable classNames="title" value=spell.title tagName="span"}}
				<div class="spell-level">
					<span class="label">level</span>
					{{content-editable value=spell.level}}
				</div>
				<div class="origin">
					<span class="label">origin</span>
					{{content-editable value=spell.origin}}
				</div>
				<div class="school">
					<span class="label">school</span>
					{{content-editable value=spell.school}}				
				</div>
				<div class="action">
					<span class="label">action</span>
					{{content-editable value=spell.action}}				
				</div>
				<div class="range">
					<span class="label">range</span>
					{{content-editable value=spell.range}}				
				</div>
				<div class="duration">
					<span class="label">duration</span>
					{{content-editable value=spell.duration}}
				</div>
				<div class="components">
					<span class="label">components</span>
					{{content-editable value=spell.components}}				
				</div>
				 {{free-block title="description" content=spell.description classNames="description"}}
			</div>
		{{/each}}
		<div class="add-spell" {{action "createSpell" group}} title="add spell">
		+
		</div>
	</div>
{{/each}}
<div class="add-spell-group" {{action "createSpellGroup"}} title="add group">
+
</div>
