<div class="prop">
	<span class="label">Keywords</span>
	{{content-editable value=prop.keywords classNames="value" tagName="span"}}

</div>
{{#each prop in stats}}
	<div class="prop">
		{{content-editable value=prop.label classNames="label" tagName="span"}}
		{{content-editable value=prop.value classNames="value" tagName="span"}}
		<span class="delete" title="remove stat" {{action "deleteProp" prop}}>x</span>
	</div>
{{/each}}
<div class="create" title="new stat" {{action "createProp" prop}}>+</div>


