<table border="0" cellspacing="0" cellpadding="0" class="comparison">
	<thead>
		<tr>
			<th></th>
			{{#each sortedCharacters as |char|}}
				<th  {{action "unlinkCharacter" char}}>{{char.name}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each sortedProperties as |prop|}}
			<tr>
				<td><span class="tagname {{if prop.selected 'selected'}}" {{action "sortOn" prop}}>{{prop.name}}</span></td>
				{{#each sortedCharacters as |char|}}
					<td class="value">{{input value=(mut (get char prop.value))}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>

