<table border="0" cellspacing="0" cellpadding="0" class="comparison">
	<thead>
		<tr>
			<th></th>
			{{#each sortedCharacters as |char|}}
				<th>
					<span>{{char.name}}</span>
					<i class="fa fa-user-times" title="remove from adventure" {{action "unlinkCharacter" char}}></i>
					<i class="fa fa-refresh" title="refresh character" {{action "refreshCharacter" char}}></i>
				</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each sortedProperties as |prop|}}
			<tr>
				<td><span class="tagname {{if prop.selected 'selected'}}" {{action "sortOn" prop}}>{{prop.name}}</span></td>
				{{#each sortedCharacters as |char|}}
					<td class="value">{{input value=(mut (get char prop.value))}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>

