<span class="title"  {{action "toggleEdit"}}>{{title}}</span>
<div {{action "toggleEdit"}}>
	{{markdown-section content=content}}
</div>
{{#if editing}}
	{{textarea value=content}}
	<div class="buttons">
		<span class="button" {{action "toggleEdit"}}>done</span>
	</div>
{{/if}}
