{{#each monsters as |monster|}}
  <div class="monster">
    <div class="head">
      <div class="name">
        {{content-editable value=monster.name editable=true}}
      </div>
      <div class="buttons">
		    <span class="round-button delete" title="remove stat" {{action "removeMonster" monster}}>
			    <i class="fa fa-times"></i>
		    </span>
        {{#if (not monster.hasTraits)}}
          <span class="round-button add-trait" title="add trait" {{action "addTrait" monster}}>
			      <i class="fa fa-cog"></i>
          </span>
        {{/if}}
        {{#if (not monster.hasActions)}}
          <span class="round-button add-action" title="add action" {{action "addAction" monster}}>
			      <i class="fa fa-bolt"></i>
          </span>
        {{/if}}
        {{#if (not monster.hasLegendary)}}
          <span class="round-button add-legendary" title="add legendary action" {{action "addLegendary" monster}}>
			      <i class="fa fa-star"></i>
          </span>
        {{/if}}
        {{#if (not monster.hasReactions)}}
          <span class="round-button add-reaction" title="add reaction" {{action "addReaction" monster}}>
			      <i class="fa fa-street-view"></i>
          </span>
        {{/if}}
      </div>
      <div class="about">
        {{content-editable title="Size" class="size" value=monster.size editable=true}}
        {{content-editable title="Type" class="type" value=monster.type editable=true}}
        {{content-editable title="Alignment" class="alignment" value=monster.alignment editable=true}}
      </div>
    </div>
    <div class="basic">
      <div class="stat">
        <span class="label">Armor Class</span>
        {{content-editable value=monster.ac editable=true}}
      </div>
      <div class="stat">
        <span class="label">Hit Points</span>
        {{content-editable value=monster.hp editable=true}}
      </div>
      <div class="stat">
        <span class="label">Speed</span>
        {{content-editable value=monster.speed editable=true}}
      </div>
    </div>
	  {{char-abilities char=monster singleRow=true}}
	  {{char-stats char=monster}}
    {{#if monster.hasTraits}}
      {{free-block content=monster.traits classNames="traits"}}
    {{/if}}
    {{#if monster.hasActions}}
      {{free-block title="Actions" content=monster.actions classNames="actions"}}
    {{/if}}
    {{#if monster.hasLegendary}}
      {{free-block title="Legendary Actions" content=monster.legendary classNames="actions"}}
    {{/if}}
    {{#if monster.hasReactions}}
      {{free-block title="Reactions" content=monster.reactions classNames="actions"}}
    {{/if}}
  </div>
{{/each}}
