<span class="title" {{action "toggleEdit"}}>{{title}}</span>
<div {{action "toggleEdit"}}>
	{{#if showPlaceholder}}
		{{placeholder}}
	{{else}}
      {{markdown-to-html markdown=content tables=true tasklists=true simpleLineBreaks=true openLinksInNewWindow=true}}
	{{/if}}
</div>
{{#if editing}}
	{{textarea value=content}}
	<div class="buttons">
		<span class="button" {{action "toggleEdit"}}>done</span>
	</div>
{{/if}}
