<div class="block-controls">
	<span class="round-button up" title="move up" {{action "moveUp" block}}>
		<i class="fa fa-sort-up"></i>
	</span>
	<span class="round-button down" title="move down" {{action "moveDown" block}}>
		<i class="fa fa-sort-down"></i>
	</span>
	<span class="round-button create" title="add new below" {{action "addNew" block}}>
		<i class="fa fa-plus"></i>
	</span>
	<span class="round-button remove" title="remove" {{action "remove" block}}>
		<i class="fa fa-times"></i>
	</span>
</div>
{{yield}}
