<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
	<thead>
		<tr>
			<th>Str</th><th>Dex</th><th>Con</th><th>Int</th><th>Wis</th><th>Cha</th>
		</tr>
	</thead>
	<tbody>
    {{#if singleRow}}
      <tr>
        <td>
			    {{content-editable value=char.abilities.str tagName="span"}}
          <span>{{char.strmod}}</span>
        </td>
        <td>
			    {{content-editable value=char.abilities.dex tagName="span"}}
          <span>{{char.dexmod}}</span>
        </td>
        <td>
			    {{content-editable value=char.abilities.con tagName="span"}}
          <span>{{char.conmod}}</span>
        </td>
        <td>
			    {{content-editable value=char.abilities.int tagName="span"}}
          <span>{{char.intmod}}</span>
        </td>
        <td>
			    {{content-editable value=char.abilities.wis tagName="span"}}
          <span>{{char.wismod}}</span>
        </td>
        <td>
			    {{content-editable value=char.abilities.cha tagName="span"}}
          <span>{{char.chamod}}</span>
        </td>
      </tr>
    {{else}}
		  <tr>
			  {{content-editable value=char.abilities.str tagName="td"}}
			  {{content-editable value=char.abilities.dex tagName="td"}}
			  {{content-editable value=char.abilities.con tagName="td"}}
			  {{content-editable value=char.abilities.int tagName="td"}}
			  {{content-editable value=char.abilities.wis tagName="td"}}
			  {{content-editable value=char.abilities.cha tagName="td"}}
		  </tr>

		  <tr>
			  <td></td><td></td><td></td><td></td><td></td><td></td>
		  </tr>

		  <tr>
			  <td>{{char.strmod}}</td><td>{{char.dexmod}}</td><td>{{char.conmod}}</td><td>{{char.intmod}}</td><td>{{char.wismod}}</td><td>{{char.chamod}}</td>
		  </tr>
    {{/if}}
	</tbody>
</table>
