<form>
  <div class="user {{if badUser "invalid"}}">
    <span class="label">user</span>
    {{input value=nickname enter="login" name="username"}}
  </div>
  <div class="password {{if badPwd "invalid"}}">
    <span class="label">password</span>
    {{input type="password" value=password enter="login" name="password"}}
  </div>
  <div class="actions">
    <div class="login-button" {{action "login"}}>
      Log in
    </div>
    <div class="or">
      or
    </div>
    {{#link-to "register" tagName="div"}}Register{{/link-to}}
  </div>	
</form>
