<div class="home admin">
	<div class="players">
		{{#ember-wormhole to="buttons"}}
			<span class="title">Players</span>
		{{/ember-wormhole}}
		{{#each model as |player|}}
			<div class="player">
				<div class="player-header" {{action "togglePlayer" player}}>
					{{#if player.open}}
						<i class="fa fa-caret-down"></i>
					{{else}}
						<i class="fa fa-caret-right"></i>
					{{/if}}
					<span class="title">{{player.username}}</span>
					<div class="field" {{action "toggleAdmin" player bubbles=false}}>
						<span class="admin">admin</span>
						<i class="fa {{if player.isAdmin 'fa-check-circle-o' 'fa-circle-o'}}"></i>
					</div>
				</div>
				{{#if player.open}}
					<div class="characters">
						<table border="0" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th>Name</th><th>Race</th><th>Class</th><th>Lvl</th><th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{{#each player.chars as |char|}}
									<tr {{action "openCharacter" char}}>
										<td>{{char.name}}</td>
										<td>{{char.race}}</td>
										<td>{{char.class}}</td>
										<td>{{char.level}}</td>
										<td class='actions'>
											<i class="unlink fa fa-unlink" title="remove link" {{action "unlinkChar" player char bubbles=false}}></i>
											<span class="remove" title="remove" {{action "removeChar" char bubbles=false}}>x</span>
										</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="controls">
						<div class="tbutton" {{action "requestLink" player}}>
							Link Character
						</div>
						<div class="tbutton warning" {{action "removePlayer" player}}>
							Remove player
						</div>
						<div class="tbutton warning" {{action "resetPassword" player}}>
							Reset password
						</div>
					</div>
				{{/if}}
			</div>
		{{/each}}
	</div>
</div>
{{#if showModal}}
	{{#modal-dialog}}
		{{link-character target=linkingPlayer closeDialog="closeDialog" linkCharacter="linkCharacter"}}
	{{/modal-dialog}}
{{/if}}

