<div class="header {{menuShow}}">
	<div class="header-content">
		<div class="open-button" {{action "toggleMenu"}}>
			<i class="fa fa-bars"></i>
		</div>
		<div class="header-wrap">
			<div id="buttons">
			</div>
			<div class="functional" id="functional">
				<div class="toggle" title="hide/show" {{action "toggleMenu"}}>
					<span>toggle menu</span>
					<span class="icon fa"></span>
				</div>
				<div class="logout" {{action "logout"}}>
					<span>logout</span>
					<i class="fa fa-lock"></i>
				</div>
				<div class="button characters" {{action "toHome"}}>
					<span>home</span>
					<i class="fa fa-home"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="header-waiter"></div>
</div>
<div class="wrapper {{hasMenu}}">
	{{outlet}}
</div>
<div class="footer {{if hasMessages 'messages'}}">
	{{#each messages as |message|}}
		<div class="message-wrap {{message.type}}" {{action "removeMessage" message}} title="click to remove">
			<div class="message">
				{{message.message}}
			</div>
		</div>
	{{/each}}
</div>
