<div class="character">
	<div class="name">
		{{content-editable value=model.name editable=true}}
	</div>

	<div class="class" id="text-2">
		{{content-editable value=model.race tagName="span"}} {{content-editable value=model.class tagName="span"}} 
	</div>
	
	<div class="level">
		{{content-editable value=model.level}}
	</div>
	<div class="prof-bonus">
		<span class="label">proficiency bonus</span>
		<span class="value">{{profBonus}}</span>
	</div>
	<div class="image">
		<div class="figure">
			<img src="{{model.image}}"/>
		</div>
	</div>

	{{char-stats char=model}}
	{{free-block title="Notes and effects" content=model.notes classNames="notes"}}

	<div class="life">
		<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
			<tbody>
				<tr>
					<td class="left">HP</td>
					{{content-editable value=model.hp.total tagName="td"}}
					{{content-editable value=model.hp.current tagName="td"}}
				</tr>

				<tr>
					<td class="left"></td>
					<td class="left">Total</td>
					<td class="left">Rem.</td>
				</tr>
			</tbody>
		</table>

		<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
			<tbody>
				<tr>
					<td class="left">HD</td>
					{{content-editable value=model.hd.total tagName="td"}}
					{{content-editable value=model.hd.current tagName="td"}}
				</tr>

				<tr>
					<td class="left"></td>
					<td class="right">Total</td>
					<td class="left">Rem.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="defenses">
		<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
			<tbody>
				<tr>
					{{content-editable value=model.ac.armor tagName="td"}}
				</tr>
				<tr>
					<td>Armor Class</td>
				</tr>
				<tr>
					{{content-editable value=model.ac.noArmor tagName="td"}}
				</tr>
				<tr>
					<td>AC - no armor</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="abilities">
		<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
			<thead>
				<tr>
					<th>Str</th><th>Dex</th><th>Con</th><th>Int</th><th>Wis</th><th>Cha</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{{content-editable value=model.abilities.str tagName="td"}}
					{{content-editable value=model.abilities.dex tagName="td"}}
					{{content-editable value=model.abilities.con tagName="td"}}
					{{content-editable value=model.abilities.int tagName="td"}}
					{{content-editable value=model.abilities.wis tagName="td"}}
					{{content-editable value=model.abilities.cha tagName="td"}}
				</tr>

				<tr>
					<td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>

				<tr>
					<td>{{strmod}}</td><td>{{dexmod}}</td><td>{{conmod}}</td><td>{{intmod}}</td><td>{{wismod}}</td><td>{{chamod}}</td>
				</tr>
			</tbody>
		</table>
		
	</div>

	{{content-editable classNames="initiative" value=model.initiative}}
	{{content-editable classNames="perception" value=model.perception}}

	<div class="left-side">
		{{char-attacks char=model}}
		<div class="profs">
			<span class="title">Proficiencies</span>
			<div>
				<span class="title">Saves</span>
				{{content-editable value=model.profs.saves}}
			</div>
			<div>
				<span class="title">Armor</span>
				{{content-editable value=model.profs.armor}}
			</div>
			<div>
				<span class="title">Weapons</span>
				{{content-editable value=model.profs.weapons}}
			</div>
			<div>
				<span class="title">Tools</span>
				{{content-editable value=model.profs.tools}}
			</div>
		</div>
		{{char-inventory char=model}}
		{{free-block title="Wealth" content=model.wealth classNames="wealth"}}
	</div>

	<div class="right-side">
		{{free-block title="Skills" content=model.skills classNames="skills"}}
		{{free-block title="Features and traits" content=model.traits classNames="traits"}}
		{{free-block title="Feats" content=model.feats classNames="feats"}}
		{{free-block title="Spells" content=model.spells classNames="spells"}}
		{{free-block title="Spellbook" content=model.spellbook classNames="spells spellbook"}}
		{{free-block title="Short Description" content=model.description classNames="short-descr"}}
	</div>
</div>
