<div class="character">
	<div class="name">
		<p>{{model.name}}</p>
	</div>

	<div class="class" id="text-2">
		{{model.race}} {{model.class}} 
	</div>
	
	<div class="level">
		{{model.level}}
	</div>
	<div class="prof-bonus">
		<span class="label">proficiency bonus</span>
		<span class="value">{{profBonus}}</span>
	</div>
	<div class="image">
		<div class="figure">
			<img src="{{model.image}}"/>
		</div>
	</div>

	<div class="stats">
		<div class="prop">
			<span class="label">Keywords</span>
			<span class="value">{{model.keywords}}</span>
		</div>
		{{#each prop in stats}}
			<div class="prop">
				<span class="label">{{prop.label}}</span>
				<span class="value">{{prop.value}}</span>
			</div>
		{{/each}}
	</div>

	<div class="notes">
		<span class="title">Notes and effects</span>
		<div>{{model.notes}}</div>
	</div>

	<div class="life">
		<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
			<tbody>
				<tr>
					<td class="left">HP</td>
					<td class="left">{{model.hp.total}}</td>
					<td class="left">{{model.hp.current}}</td>
				</tr>

				<tr>
					<td class="left"></td>
					<td class="left">Total</td>
					<td class="left">Rem.</td>
				</tr>
			</tbody>
		</table>

		<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
			<tbody>
				<tr>
					<td class="left">HD</td>
					<td class="right">{{model.hd.total}}</td>
					<td class="left">{{model.hd.current}}</td>
				</tr>

				<tr>
					<td class="left"></td>
					<td class="right">Total</td>
					<td class="left">Rem.</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="defenses">
		<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
			<tbody>
				<tr>
					<td class="right">{{model.ac.armor}}</td>
				</tr>
				<tr>
					<td class="right">Armor Class</td>
				</tr>
				<tr>
					<td class="right">{{model.ac.noArmor}}</td>
				</tr>
				<tr>
					<td class="right">AC - no armor</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="abilities">
		<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
			<thead>
				<tr>
					<th>Str</th><th>Dex</th><th>Con</th><th>Int</th><th>Wis</th><th>Cha</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{model.abilities.str}}</td><td>{{model.abilities.dex}}</td><td>{{model.abilities.con}}</td><td>{{model.abilities.int}}</td><td>{{model.abilities.wis}}</td><td>{{model.abilities.cha}}</td>
				</tr>

				<tr>
					<td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>

				<tr>
					<td>{{strmod}}</td><td>{{dexmod}}</td><td>{{conmod}}</td><td>{{intmod}}</td><td>{{wismod}}</td><td>{{chamod}}</td>
				</tr>
			</tbody>
		</table>
		
	</div>

	<div class="initiative">
		{{model.initiative}}
	</div>
	<div class="perception">
		{{model.perception}}
	</div>
	<div class="left-side">
		<div class="attacks">
			<span class="title">Attacks</span>
			<div>
				<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
					<thead>
						<tr>
							<th>Atck.</th><th>Dmg.</th><th>Def.</th><th>Rng.</th><th>Type</th>
						</tr>
					</thead>
					<tbody>
						{{#each attack in model.attacks}}
							<tr>
								<td>{{attack.name}}</td>
								<td>{{attack.attack}}</td>
								<td>{{attack.damage}}</td>
								<td>{{attack.def}}</td>
								<td>{{attack.range}}</td>
								<td>{{attack.type}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		<div class="profs">
			<span class="title">Proficiencies</span>
			<div>
				<span class="title">Saves</span>
				<div>
					{{model.profs.saves}}
				</div>
			</div>
			<div>
				<span class="title">Armor</span>
				<div>
					{{model.profs.armor}}
				</div>
			</div>
			<div>
				<span class="title">Weapons</span>
				<div>
					{{model.profs.weapons}}
				</div>
			</div>
			<div>
				<span class="title">Tools</span>
				<div>
					{{model.profs.tools}}
				</div>
			</div>
		</div>
		<div class="gear">
			<span class="title">Gear</span>
			<div>
				<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
					<thead>
						<tr>
							<th>Possessions</th><th>Gp.</th><th>Wt.</th><th>Notes</th>
						</tr>
					</thead>
					<tbody>
						{{#each possession in model.gear}}
							<tr>
								<td>{{possession.name}}</td>
								<td>{{possession.price}}</td>
								<td>{{possession.weight}}</td>
								<td>{{possession.notes}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>

				<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
					<thead>
						<tr>
							<th scope="col" class="right">ACTUAL LOAD</th>
							<th scope="col" class="right">Carry</th>
							<th scope="col" class="right">Push, Drag or Lift</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="right">{{load}}</td>
							<td class="right">{{carry}}</td>
							<td class="right">{{pushOrDrag}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="wealth">
			<span class="title">Wealth</span>
			<div>{{mode.wealth}}</div>
		</div>
	</div>

	<div class="right-side">
		<div class="skills">
			<span class="title">Skills</span>
			<div>
					{{model.skills}}
			</div>
		</div>
		{{free-block title="Features and traits" content=model.traits classNames="traits"}}
		{{free-block title="Feats" content=model.feats classNames="feats"}}
		{{free-block title="Spells" content=model.spells classNames="spells"}}
		{{free-block title="Spellbook" content=model.spellbook classNames="spells spellbook"}}
		{{free-block title="Short Description" content=model.description classNames="short-descr"}}
	</div>
</div>
