<div class="character">
	<div class="name">
		{{content-editable value=model.name editable=true}}
	</div>
	{{#ember-wormhole to="buttons"}}
		<div class="button save" {{action "save"}}>
			<span>save</span>
			<i class="fa fa-cloud-upload"></i>
		</div>
		<div class="button download" {{action "download"}}>
			<span>download</span>
			<i class="fa fa-download"></i>
		</div>
		<a class="downloadlocation" download="{{filename}}.json" href="">v</a>
		<div class="button upload" {{action "upload"}}>
			<span>from file</span>
			<i class="fa fa-file-text-o"></i>
		</div>
		<input type="file" class="uploadInput" {{action "doUpload" on="change"}}/>
		<div class="button delete" {{action "delete"}}>
			<span>remove</span>
			<i class="fa fa-user-times"></i>
		</div>
	{{/ember-wormhole}}

	<div class="class" id="text-2">
		{{content-editable value=model.race tagName="span"}} {{content-editable value=model.class tagName="span"}} 
	</div>
	
	<div class="level">
		{{content-editable value=model.level}}
	</div>
	<div class="prof-bonus">
		<span class="label">proficiency bonus</span>
		<span class="value">{{profBonus}}</span>
	</div>
	<div class="image">
		{{file-upload url="/dnd/api/image" didUpload="handleUpload"}}
		<div class="figure">
			<img src="{{model.image}}" {{action "clickImage" on="click"}}/>
		</div>
	</div>

	{{char-stats char=model}}
	{{free-block title="Notes and effects" content=model.notes classNames="notes"}}

	{{char-kpis char=model}}
	
	<div class="left-side">
		{{#each charBlocks.left as |block|}}
			{{#block-controls block=block moveUp="moveBlockUp" moveDown="moveBlockDown" addNew="addNewBlockBelow" remove="removeBlock"}}
				{{#if (eq block.kind "specced")}}
					{{specced-block spec=block char=model classNames="char-block"}}
				{{else}}
					{{component block.kind char=model classNames="char-block"}}
				{{/if}}
			{{/block-controls}}
		{{/each}}
	</div>

	<div class="right-side">
		{{#each charBlocks.right as |block|}}
			{{#block-controls block=block moveUp="moveBlockUp" moveDown="moveBlockDown" addNew="addNewBlockBelow" remove="removeBlock"}}
				{{#if (eq block.kind "specced")}}
					{{specced-block spec=block char=model classNames="char-block"}}
				{{else}}
					{{component block.kind char=model classNames="char-block"}}
				{{/if}}
			{{/block-controls}}
		{{/each}}
	</div>

	{{#if showSpells}}
		{{char-spell-book char=model}}
	{{/if}}
	{{#if selectNewBlock}}
		{{#modal-dialog}}
			{{select-char-block char=model confirmBlock="confirmNewBlock"}}
		{{/modal-dialog}}
	{{/if}}
</div>
