<div class="login">
	<div class="user {{if badUser "invalid"}}">
		<span class="label">user</span>
		{{input value=username action="login" on="enter"}}
	</div>
	<div class="password {{if badPwd "invalid"}}">
		<span class="label">password</span>
		{{input type="password" value=password action="login" on="enter"}}
	</div>
	<div class="actions">
		<div class="login-button" {{action "login"}}>
  		Log in
		</div>
		<div class="or">
			or
		</div>
		<div {{action "register"}}>
			Register
		</div>
	</div>	
</div>
