<div class="register">
	<div class="user {{if badUser "invalid"}}">
		<span class="label">username</span>
		{{input value=username action="register" on="enter"}}
	</div>
	<div class="password {{if badPwd "invalid"}}">
		<span class="label">password</span>
		{{input type="password" value=password action="register" on="enter"}}
	</div>
	<div class="password-again {{if badPwd2 "invalid"}}">
		<span class="label">Repeat password</span>
		{{input type="password" value=passwordAgain action="register" on="enter"}}
	</div>
	<div class="register" {{action "register"}}>
		register
	</div>
	<div class="info">
		<span class="info-icon" title="info" {{action "toggleInfo"}}>i</span>
		<div class="info-text {{if showInfo 'show'}}">
			Your username and password will be stored in a secure database. Your password will be stored as a salted hash, unreadable to anyone. If you lose your password, please send an email to your administrator to request a reset of your account.
		</div>
	</div>
</div>
