<div class="register">
	<div class="user {{if badUser "invalid"}}">
		<span class="label">username</span>
		{{input value=model.username enter="updateUser"}}
	</div>
	<div class="password {{if badOldPwd "invalid"}}">
		<span class="label">old password</span>
		{{input type="password" value=oldPassword enter="updateUser"}}
	</div>
	<div class="password {{if badPwd "invalid"}}">
		<span class="label">New password</span>
		{{input type="password" value=newPassword enter="updateUser"}}
	</div>
	<div class="password-again {{if badPwd2 "invalid"}}">
		<span class="label">Repeat password</span>
		{{input type="password" value=newPasswordAgain enter="updateUser"}}
	</div>
	<div class="register" {{action "updateUser"}}>
		Update User
	</div>
</div>

